<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&display=swap');


/* GENERAL */
=======

>>>>>>> fcb65c79020c9b1e04476809712f6f3a67fc6d93
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

<<<<<<< HEAD
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'League Spartan', sans-serif;
}

p {
    color: rgb(85, 85, 85);
}

/* -------------------------------------- */
/* TRANSITION BUTTON AND LINKS*/
a,
.btn {
    transition: all .3s ease;
}

/* -------------------------------------- */
/* DESKTOP NAV */
nav,
.nav-links {
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;
    /* 17% of the whole screen 100vh */
}

.nav-links {
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
}

a {
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181, 181, 181);
}

.logo {
    /* font-size:2rem; */
}

.logo:hover {
    cursor: default;
}

.logo img {
    max-width: 50px;
}


/* -------------------------------------- */
/* MOBILE NAV */
.mobile-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
=======
html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}


a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

.logo {
    height: 50px;
    width: auto;
    float: left;
    margin-top: 20px;
    filter: brightness(0) invert(0);
}


/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22;
}


/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon ion-icon {
    font-size: 200%;
    color: black;
>>>>>>> fcb65c79020c9b1e04476809712f6f3a67fc6d93
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

/* target hamburger icon */
.hamburger-icon span {
    width: 100%;/*container*/
    height: 2px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.hamburger-menu-links li{
    list-style: none;
}

.hamburger-menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration:none;
    transiton: all 0.3s ease-in-out;
}

/* open class from javascript */
.hamburger-menu-links.open{
    max-height: 300px;
}

/* 'X' icon */
.hamburger-icon.open span:first-child{
    /* transforming a line by rotating 'x', and move slightly x and y. */
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2){
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}
.hamburger-icon span:first-child{transform: none;}
.hamburger-icon span:first-child{opacity: 1;}
.hamburger-icon span:first-child{transform: none;}